<!DOCTYPE html>
<html lang="en">
<head>
  <title>Angebot Profile</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-110932262-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-110932262-1');
</script>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
  <!-- s js-->
  <script type="text/javascript" src="./js/handleAJAX.js"></script>
  <script type="text/javascript" src="./js/favorit-logic.js"></script>
  <script type="text/javascript" src="/fa17g17/js/searchLogic.js"></script>
  <script type="text/javascript" src="./js/fileTypeChecker.js"></script>
  <script type="text/javascript" src="./js/messaging-offer.js"></script>
  <!-- Stylessheets -->
	<link rel="stylesheet" type="text/css" href="./css/messaging.css">
	<link rel="stylesheet" type="text/css" href="./css/starRating.css">
  <style>
    #comment {
      resize: none;
    }

    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 550px}

    /* Set gray background color and 100% height */
    .sidenav {
      background-color: #f1f1f1;
      height: 100%;
    }

    /* On small screens, set height to 'auto' for the grid */
    @media screen and (max-width: 767px) {
      .row.content {height: auto;}
    }
    /* Set background color for Carousel */
    .carousel-control.right, .carousel-control.left {
      background-image: none;
      color: #f4511e;
    }

	.well {
		background-color: #333;
		border-color: #222;
	}

	.put-back {
		z-index:-1 !important;
		positon: relative !important;
	}

  </style>
</head>
<body style="
	background-image: url(./img/background.jpeg);
	background-image-size: auto;
	color: white;
">
	<div>
    <nav class="navbar navbar-inverse" role="navigation" style="padding-left:80px;">
			  <ul class="nav navbar-nav">
				<li><a href="/fa17g17">Home<span class="sr-only">(current)</span></a></li>
			  <li>
				<form id="searchbar_for_estates" class="navbar-form" role="search">
				  <div class="input-group add-on" style="display: flex; flex: 1 1 auto;">
					<select id = "nav_angebot_art" class="form-control">
						<option>Buy</option>
						<option>Rent</option>
					</select>
					<select id = "nav_ort" class="form-control">
						<option>Fulda</option>
						<option>Hünfeld</option>
						<option>Eichenzell</option>
						<option>Neuhof</option>
						<option>Petersberg</option>
					</select>
					<select id = "nav_objektart" class="form-control">
						<option>Estate</option>
						<option>House</option>
						<option>Apartment</option>
						<option>Villa/Townhouse</option>
					</select>
					<div class="col-md-2"><input id = "nav_qm" type="text" class="form-control" placeholder="Square meters..."></div>
					<div class="col-md-2"><input id = "nav_preis" type="text" class="form-control" placeholder="Max Price..."></div>
					<select id = "nav_zimmeranzahl" class="form-control">
						<option value="0">-</option>
						<option value="1">ab 1 Zimmer</option>
						<option value="2">ab 2 Zimmer</option>
						<option value="3">ab 3 Zimmer</option>
						<option value="4">ab 4 Zimmer</option>
						<option value="5">ab 5 Zimmer</option>
					</select>

					<div class="input-group-btn">
					  <button id="nav_bt_search" class="btn btn-default" type="button"><i class="glyphicon glyphicon-search"></i></button>
					</div>
				 </div>
				</form>
			  </li>
			  <li id="logDropping">
				<div class="navbar-form dropdown">
				<button class="btn btn-primary dropdown-toggle loggedInDropdown" type="button" data-toggle="dropdown" >Manage
				<span class="caret"></span></button>
				<ul class="dropdown-menu">
				  <li><a href="/fa17g17/dashboard">Dashboard</a></li>
				  <li><a href="/fa17g17/dashboard/messages">Messages</a></li>
				  <li class="divider"></li>
				  <li><a href="/fa17g17/user/logout">Logout</a></li>
				 <!-- <li id="logOut"><a style="cursor: pointer;">Logout</a></li>-->
				</ul>
				</div>
			  </li><!-- if logged in -->
			  <li id="nlogDropping" style="float: right;"><a href="/fa17g17/Login">Sign-In</a></li><!-- if logged out -->
			</ul>
		</nav>
	</div>
<!-- Send New Message Formular -->
<div class="container">
	<div class="row">
		<div class="wrapper">
			<div class="contact-form-page">
			<div class="form-head">
				<div class="header-btn">
					<a id="top_message_form_button" class="top-btn" href="#">
						<i class="fa fa-times">
							<span class="glyphicon glyphicon-envelope"></span>
						</i>
					</a>
				</div>
			</div>
			<h1>Write a Message</h1>
			<form>
				<div class="form-group">
					<label for="exampleInputText">Recipient</label>
					<input type="text" class="form-control" id="exampleInputText" required="required" readonly>
          <input class="hidden" id="agent_nick" value=""></input>
				</div>
				<div class="form-group">
					<label for="exampleInputEmail1">Subject</label>
					<select name="filter_type" id="subject_type" class="form-control">
						<option value="KaufenMieten">Buy or Rent Request</option>
						<option value="Besichtigung">Inspection Date Request</option>
						<option value="Information">Information Request</option>
						<option value="Anderer">Other Subject</option>
					</select>
				</div>
				<div class="form-group">
					<label for="exampleInputEmail1">Topic</label>
					<input type="text" class="form-control" id="exampleInputEmail1" required="required">
				</div>
				<div class="form-group">
					<label for="exampleInputMessage">Message</label>
					<textarea class="form-control" rows="3"  id="exampleInputMessage" required="required"></textarea>
				</div>
				<div class="btn-group" style="display: flex; flex: 1;">
				<form method="post" enctype="multipart/form-data">
					<input id="fileInputMSG" type="file" style="display:none;" name="file" accept=".pdf,.jpg,.jpeg,.png,.txt" multiple="multiple" /> <!-- multiple="multiple" -->
					<button type="button" class="btn btn-default" style="margin-right: 5px;" onclick="document.getElementById('fileInputMSG').click();" id="uploadMessageButton">
						<span class="glyphicon glyphicon-open-file"></span> Attachtments
					</button>
						<button id="sendMSGButton" type="button" class="submit-button">Send</button>
					</form>
				</div>
			</form>
			</div>
			<a class="buttom-btn" href="#"><i class="fa fa-times"><span class="glyphicon glyphicon-envelope"></span></i></a>
		</div>
	</div>
</div>
<div id="wrapper_content">
<!--Angebot-->
<div class="container-fluid">
  <div class="row content" style="color: white;"><!-- Content des Profils -->
    <div class="col-sm-3">
      <!--<h2 style="text-align:center">Picture</h2>-->
      <br>
      <div id="myCarousel_image" style= "width:100%;" class="carousel slide text-center" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#myCarousel_image" data-slide-to="0" class="active"></li>
              <li data-target="#myCarousel_image" data-slide-to="1"></li>
              <li data-target="#myCarousel_image" data-slide-to="2"></li>
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox" id="picBox">
              <!--<div class="item active">
                <img src="./img/haus1.jpg" class="img-responsive" style "width=100%" alt="Image">
              </div>
              <div class="item">
                <img src="./img/haus2.jpg" class="img-responsive" style "width=100%" alt="Image">
              </div>
              <div class="item">
                <img src="./img/haus3.jpg" class="img-responsive" style "width=100%" alt="Image">
              </div>-->
            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel_image" role="button" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel_image" role="button" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
        </div>


    </div>

    <div class="col-sm-9">
      <div class="well">
		<span id="toFav" style='float: right; cursor: pointer; color: lightgray;' class='glyphicon glyphicon-star add_to_favorits'></span>
        <h4 id="title"></h4>
        <p id="offerType">Rent/Buy: </p>
        <p id="endDate">Duration of the Offer: </p>
      </div>

      <div class="row">
        <div class="col-sm-3">
          <div class="well">
            <h4>Pricing</h4>
            <p id="price">Rent/Buy: </p>
            <p id="utilCost">Utilities: </p>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="well">
            <h4>Additional Costs</h4>
            <p id="bail">Bail: </p>
            <p id="provision">Provision: </p>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="well">
            <h4  >Contact Information</h4>
            <a id="seller_link_to_profil" href="" style="color: lightblue;" data-toggle="tooltip" title="to the Profile Page"><p id="seller">Agent: </p></a>
            <p id="agency">Agency: </p>
            <!--<button class="btn btn-primary">Contact Agency <i class="glyphicon glyphicon-envelope"></i></button>
			-->
			<p>
				Send a Message:
				<p><span id="sending_span" class="glyphicon glyphicon-envelope buttom-btn-small"></span></p>
			</p>
		  </div>
        </div>
        <div class="col-sm-3">
          <div class="well">
            <h4>Ratings</h4>
            <p id="rating_value">Value: </p>
            <a class="btn btn-info" href="#commentList"> Comments Reference <i class="glyphicon glyphicon-circle-arrow-down"></i></a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="well">
            <h4 >Description</h4>
            <p id="description"></p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="well">
            <h4>Features</h4>
            <div id="autoFeatureElements">
              <!-- Elemente werden automatisch auf Basis der Serverrückgabe befüllt!!!  -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Immobilien-->
<div class="container-fluid">
        <div class="row content">
          <div id="mapDiv" class="col-sm-3 sidenav"><!-- versteckt sich bei sehr kleinen bildschirmen-->
            <iframe id="maps" style="margin: 0;" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAv_dsBOBDTvbpYBZOr_Lbh8BZPIJN8dhc&q=Hochschule+Fulda" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>
        <div class="col-sm-9">
            <div class="well text-center">
              <h4>Estate Informations</h4>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="well">
                  <h4>Adress Information</h4>
                  <p id="address">Address: </p>
                  <p id="city">City: </p>
                  <p id="postal">Zip Code: </p>
                  <p id="country">Country: </p>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="well">
                  <h4>Estate Details</h4>
                  <p id="immo_type">Type: </p>
                  <p id="floors">Floors: </p>
                  <p id="rooms">Rooms: </p>
                  <p id="condition">Condition: </p>
                  <p id="qm">Square Meters: </p>
                  <p id="heating">Heating Type: </p>
                  <p id="estateyear">Year of Construction: </p>
                  <!--<p>Energy: </p><p id="energypass"></p>-->
                </div>
              </div>
            </div>
            <div class="well" ><!-- Write new Comments-->
                <h4>Write a Comment</h4>
                <textarea style="width:100%" class="form-control" rows="4" id="comment"></textarea>
                <div class="container-fluid row">
										<fieldset class="rating">
											<input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5"></label>
											<input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4"></label>
											<input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3"></label>
											<input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2"></label>
											<input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1"></label>
									</fieldset>
								</div>
                <button id="write-comment-button" style="margin : 10px" class="btn btn-primary">
                        Write Comment <i class="glyphicon glyphicon-share"></i>
                </button>
            </div>
          </div>
        </div>
</div>
<!--Kommentar-->
<div class="container" style="color: white;"><!-- Comment Box -->
	<div class="row">
		<div class="col-md-8">
		  <div class="page-header">
			<h1><small id = "commentCount" class="pull-right">0</small> Comments </h1>
		  </div>
		   <div id = "commentList" onmousedown="return false;" onselectstart="return false;" class="comments-list">
		   </div>
		</div>
  </div>
</div><!-- End Comment Box -->
</div>
<!-- Modal -->
<div class="modal fade" style="color: black" id="blankComment" role="dialog">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-body">
				<p>Please write a comment!!</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<!-- End Modal -->
<footer class="footer" style="align-items: center; padding-top:20px">
      <div class="container">
					SFSU Software Engineering Project, Fall 2017. For Demonstration Only
      </div>
</footer>
</body>
<script>
// Function to get url params out of the url
function getParameterByName(name, url) {
    if (!url) url = window.location.href;
    name = name.replace(/[\[\]]/g, "\\$&");
    var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
        results = regex.exec(url);
    if (!results) return null;
    if (!results[2]) return '';
    return decodeURIComponent(results[2].replace(/\+/g, " "));
}

	// Helper-Object: set url to sfsuse or localhost
	var ajaxURL = new AJAXSettings().getAJAXURL();
  var mapsString = "https://www.google.com/maps/embed/v1/place?key=AIzaSyAv_dsBOBDTvbpYBZOr_Lbh8BZPIJN8dhc&q=";

	//Prüfe, ob User bereits angemeldet
	var cookieArray = Cookies.get('UserID');
	var userObject = null;

	if(typeof(cookieArray) != "undefined") {
		userObject = JSON.parse(cookieArray.substring(2));
	}

	if(userObject != null){
		$("#logDropping").show();
		$("#nlogDropping").hide();
	} else {
		$("#logDropping").hide();
		$("#nlogDropping").show();
	}

$(document).ready(function (){
	// Lokale Dateien oder vom Server
	var attachURL		= ajaxURL;
	//console.log(attachURL);


	$.ajax
			(
				{
					type		: "POST",
					url			: ajaxURL + "/fa17g17/estatesearch/profile",
					contentType	: 'application/json',
					data		: JSON.stringify
					(
						{
							"immoID": getParameterByName('estate_id')
						}
					),
					success		: function (data)
					{
						console.log("SUCCESS-CB");
            // console.log(data)
						if(data.result == "true"){
              $('#title').append(data.data.offer_title);
              $('#offerType').append(data.data.offer_type);
              if(data.data.offer_enddate == "0000-00-00"){
                $('#endDate').append("No validity range has been assigned to this Exposé");
              } else {
                $('#endDate').append(data.data.offer_enddate);
              }
              $('#price').append(data.data.offer_pricing);
              $('#utilCost').append(data.data.offer_utilcosts);
              $('#bail').append(data.data.offer_bail);
              $('#provision').append(data.data.offer_provision);
              $('#seller').append(data.data.agent_firstname + ", " + data.data.agent_lastname);
              $('#agency').append(data.data.agent_agency);
              $('#agent_nick').attr("value", data.data.agent_nick);
              $('#exampleInputText').val(data.data.agent_nick);
              //$('#rating_value').append("-/5");
              $('#description').append(data.data.immo_desc);
              var featArray = data.data.immo_features.split(",");
              for(var i = 0; i < featArray.length; i++) {
                var labelInsert = ' <span class="label label-primary">' + featArray[i] + '</span>';
                $('#autoFeatureElements').append(labelInsert);
              }
              $('#address').append(data.data.immo_address);
              $('#country').append("Germany");
              $('#condition').append(data.data.immo_condition);
              $('#qm').append(data.data.immo_qm + " m²");
              $('#immo_type').append(data.data.immo_type);
              $('#floors').append(data.data.immo_floors);
              $('#rooms').append(data.data.immo_rooms);
              $('#city').append(data.data.city_name);
              $('#postal').append(data.data.city_plz);
              $('#heating').append(data.data.immo_heating);
              $('#estateyear').append(data.data.immo_baujahr);

			  // Hook Favorit Button
			  var estate_id = getParameterByName('estate_id');
			  $('#toFav').attr('id',getParameterByName('estate_id') + 'toFav');
			  var offer_id = data.data.angebot_id;
			  addFavoritListeners(estate_id,offer_id);
			  checkFavoritStatus()

              var mapURL = data.data.immo_address + "+" + data.data.city_plz + "+" + data.data.city_name;
              var mapURL2 = mapsString + mapURL.split(' ').join('+');
              $('#maps').attr('src', mapURL2);
              // console.log(mapURL2);
			  // Set link to the profile Page
			  if(typeof data.data.agent_id != 'undefined') {
				if(userObject != null) {
					$('#seller_link_to_profil').attr('href', '/fa17g17/seller?seller_id='+ data.data.agent_id);
				} else{
					$('#seller_link_to_profil').attr('href', '#');
					$('#seller_link_to_profil').css('cursor', 'text');
					$('#seller_link_to_profil').css('color', 'white');
					// set tooltiptitle
					$('#seller_link_to_profil').attr('title','Log-In for access to the Profil');
				}
			  }

			  // Get images
			  var images = data.data.immo_media.split(",");
			  //console.log(images);

				// Add pictures to picBox element
				var picContent = '';
				for(var i = 0; i < images.length; i++){

					// Set path
					var path = attachURL + "/fa17g17/img/" + images[i];
					//console.log(path);
					if(i === 0)
					{
						picContent += 	"<div class='item active'>" +
										"<img src='" + path + "' class='img-responsive' style 'width=100%' alt='Image'>" +
										"</div>"
					}
					else
					{
						picContent +=	"<div class='item'>" +
										"<img src='" + path + "' class='img-responsive' style 'width=100%' alt='Image'>" +
										"</div>";
					}
				}

				$("#picBox").append(picContent);


						} else {
							console.log("Cannot get user data from server");
						}
					},
					error		: function (err)
					{
						console.log("ERROR-CB");
						// console.log(err);
					}
				}
			).done
			(
				function ()
				{
					console.log("DONE-CB");
				}
			);
	// Show Comment and Rating the Estate
		showComment();
		$("#write-comment-button").click(addComment);
});

///////// Comment-Section //////////////////

// --- function reset comment input Form ---
function resetForm()
{
	$("#comment").val("");
	$("#star5").prop("checked",true);
}
// --- end function reset ---

// --- function add comment ---
function addComment()
{
	if (userObject != null)
	{
		var kommentar = $("#comment").val();
		if (kommentar.trim()!="")
		{
		var wertung = 5;
		var checkbox = document.getElementsByName("rating");
      for (var i = 0; i < checkbox.length; i++){
        if (checkbox[i].checked == true){
            		wertung=checkbox[i].value;
            }
        }
		
		//check on ivalid characters		
		var regex = new RegExp("<|>");
		results = regex.exec(kommentar);
		if(results != null ) {
			kommentar = kommentar.replace('<','');
			kommentar = kommentar.replace('>','');
		}
		kommentar = kommentar.replace('\\','');

		var todate = new Date();
		var date = todate.getFullYear() + "-" + todate.getMonth() + "-" + todate.getDate();

			// Send data to server
			$.ajax
				(
					{
						type		: "POST",
						url			: ajaxURL + "/fa17g17/rating/addComment",
						contentType	: 'application/json',
						data		: JSON.stringify(
						{
							"UserID": userObject.id,
							"immoID": getParameterByName('estate_id'),
							"kommentar": kommentar,
							"date": date,
							"wert_id": wertung
						}),
						success		: function (res)
						{
							alert (res);
							showComment();
						},
						error	: function (err)
						{
							alert ("error");
						}
				});
					// reset Form if Success
					resetForm();
			}
			else 
			{
				$("#blankComment").modal('show');
			}
	}
	else
		{
				alert("You must login to comment this Estate!!!");
		}
	
}
// --- end function add comment ---

// --- function show comment on angebot_profile---
function showComment()
{
	$.ajax
			(
				{
					type		: "POST",
					url			: ajaxURL + "/fa17g17/rating/estate",
					contentType	: 'application/json',
					data		: JSON.stringify(
					{
						"immoID": getParameterByName('estate_id')
					}),
					success		: function (res)
					{
						$("#commentList").empty();
						var obj = JSON.parse(res);
						$("#star5").prop("checked",true);
						// if obj is not null then show the information
						if (obj.comment[0].id != null)
									{
										var div_result = "";
										for (var i = 0; i < obj.comment.length; i++)
										{
											div_result = "<div class='media'>"
																	+ "<p class='pull-right'><small>" + obj.comment[i].date.slice(0,10) + "</small></p>"
																	+ "<p class='pull-right'><small>" + showStarComment(obj.comment[i].wert_id) + "</small></p>"
																	+ "<div class='media-body'>"
																	+ "<h4 class='media-heading user_name'>" + obj.comment[i].nickname + "</h4>"
																	+ obj.comment[i].kommentar
																	+ "</div>"
																	+ "</div>";
											$("#commentList").append(div_result);
										}
										$("#commentCount").empty();
										$("#commentCount").append(obj.rating[0].numberofcomment + " Commnents");
										var rating = Math.round(parseFloat(obj.rating[0].rating)/parseFloat(obj.rating[0].numberofcomment)*10)/10;

										// Show Star for Rating Estate
										var k = rating;
       						  div_result= rating + "/5 ";
        						while (k > 0)
										{
            						if (k - 1 >= 0){
                						div_result += "<span class='glyphicon glyphicon-star'></span>";
            						}
            						else
            						{
                					if (k - 0.5 > 0){
                   						 div_result+= "<span class='glyphicon glyphicon-star t75-star'></span>";
                					}
                					else
                						{
                    					if (k - 0.5 == 0){
                        					div_result+= "<span class='glyphicon glyphicon-star t50-star'></span>";
                    					}
                    					else {
                        				if ( k - 0.5 > - 0.5){
                            			div_result+= "<span class='glyphicon glyphicon-star t25-star'></span>";
                        				}
                    					}
                						}
            						}
            					k--
										}

										$('#rating_value').empty();
										$("#rating_value").append(div_result);
									}
						else // if obj is null then set value to 0
									{
										$("#commentCount").empty();
										$("#commentCount").append("0 Comment");
										$('#rating_value').empty();
										$('#rating_value').append("No Comment");
									}
					},
					error	: function (err)
					{
							alert ("error");
					}
		});
}
// --- end function show comment on angebot_profile---

// --- function show star for estate rating---
function showStarComment(wert)
{
	var starComment = "";
	while (wert > 0)
			{
				starComment += "<span class='glyphicon glyphicon-star'></span>";
				wert--
			}
	return starComment;
}

// --- end <function show star for estate rating---

///////// end Comment-Section //////////////////

// Sichtbarkeit des Message block
// #wrapper_content
//		z-index:-1;
//		positon: relative;
// click handler für Background hiding beim Messaging
$('#sending_span').click(function() {
	toBack();
});

$('#top_message_form_button').click(function() {
	toBack();
});

$('.buttom-btn').click(function() {
	toBack();
});

$('#sendMSGButton').click(function() {
	$(".buttom-btn").removeClass('buttom-btn-hide');
	$(".buttom-btn-small").removeClass('buttom-btn-hide');
	$(".message-block").css('position','relative');
	$(".contact-form-page").removeClass('show-profile');
	toBack();
});
function toBack() {
	if($('#wrapper_content').css('z-index') != -1) {
		$('#wrapper_content').css('z-index', '-1');
		$('#wrapper_content').css('position', 'relative');
	} else {
		$('#wrapper_content').css('z-index', '1');
		$('#wrapper_content').css('position', 'relative');
	}
}
/*
$('.fa-times').click(function() {
	if($('#wrapper_content').hasClass('put-back')) {
		$('#wrapper_content').removeClass('put-back');
	} else {
		$('#wrapper_content').addClass('put-back');
	}
});*/
</script>
</html>