<!DOCTYPE html>
<html lang="en">
<head>
  
  <title>About Me Ptanh</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
	<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  
  <style>
  .row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}
  </style>
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="50">

<nav class="navbar navbar-inverse" role="navigation" style="padding-left:130px;">
       <ul class="nav navbar-nav">
      <li><a href="/fa17g17">Home<span class="sr-only">(current)</span></a></li>
      <li class="active"><a href="/fa17g17/about">About us</a></li>
	  <li>
		<form class="navbar-form" role="search">
          <div class="input-group add-on">
            <input class="form-control" placeholder="Search" name="srch-term" id="srch-term" type="text">
            <div class="input-group-btn">
              <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
            </div>
         </div>
        </form>
	  </li>
	  <li>
	    <div class="navbar-form dropdown">
	    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" style="background: white; color: black">Manage
        <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a href="#">Signup</a></li>
          <li><a href="#">Signin</a></li>
	      <!-- Link zur User Area -->
        </ul>
        </div>
	  </li>
	  <li><a href="/fa17g17/contact">Contact us</a></li>
    </ul>
</nav>
		<div class="container-fluid">
		  <div class="row content" id="con">
			<div class="col-sm-3 sidenav" id="sidenav">
			  <h4>Project members</h4>
			  <ul class="nav nav-pills nav-stacked">
				<li class="active"><a href="/fa17g17/about">Home</a></li>
				<li><a href="/fa17g17/aboutMax">Max Finsterbusch</a></li>
				<li><a href="/fa17g17/aboutDavid">David Karimi</a></li>
				<li><a href="/fa17g17/aboutPhan">Tuan Anh Phan</a></li>
				<li><a href="/fa17g17/aboutAndreas">Andreas Dietze</a></li>
			  </ul><br>
			</div>

<div id="me" class="container-fluid" style="padding-top:70px;padding-bottom:70px">
    <h3 class="text-center">Mein Profil</h3>
    <div class="row-eq-height">
            <div class="col-sm-1" ></div>
            <div class="col-sm-3 well">
                    <h4 class="text-center">Foto</h4>
                    <img src= "img/h.jpg" class="img-responsive" style="width:100%" alt="Image">
            </div>
        <div class="col-sm-7 well" >
                <h4 class="text-left">Meine Daten</h4>
                <br>
                <p><span class="glyphicon glyphicon-user"></span> Tuan Anh Phan</p>
                <p><span class="glyphicon glyphicon-phone"></span> +49 15218292148</p>
                <p><span class="glyphicon glyphicon-envelope"></span> catuananh@gmail.com</p>
        </div>
        <div class="col-sm-1"></div>
      </div> 
     </div>
 

<!-- Footer -->
<footer class="container-fluid bg-4 text-center">
  <p class="bg-primary">Master Project - 2017</p> 
</footer>

</body>
</html>
