<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <title>MP-WS17/18-Karimi</title>
    
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	
	<link rel="stylesheet" type="text/css" href="css/additional.css">
    <link rel="stylesheet" href="css/stylead.css">
  </head>
  <body>
  <nav class="navbar navbar-inverse" role="navigation" style="padding-left:130px;">
       <ul class="nav navbar-nav">
      <li><a href="/fa17g17">Home<span class="sr-only">(current)</span></a></li>
      <li class="active"><a href="/fa17g17/about">About us</a></li>
	  <li>
		<form class="navbar-form" role="search">
          <div class="input-group add-on">
            <input class="form-control" placeholder="Search" name="srch-term" id="srch-term" type="text">
            <div class="input-group-btn">
              <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
            </div>
         </div>
        </form>
	  </li>
	  <li>
	    <div class="navbar-form dropdown">
	    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" style="background: white; color: black">Manage
        <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a href="#">Signup</a></li>
          <li><a href="#">Signin</a></li>
	      <!-- Link zur User Area -->
        </ul>
        </div>
	  </li>
	  <li><a href="/fa17g17/contact">Contact us</a></li>
    </ul>
</nav>
  <div class="container-fluid">
	  <div class="row content" id="con">
		<div class="col-sm-3 sidenav" id="sidenav">
		  <h4>Project members</h4>
		  <ul class="nav nav-pills nav-stacked">
			<li class="active"><a href="/fa17g17/about">Home</a></li>
			<li><a href="/fa17g17/aboutMax">Max Finsterbusch</a></li>
			<li><a href="/fa17g17/aboutDavid">David Karimi</a></li>
			<li><a href="/fa17g17/aboutPhan">Tuan Anh Phan</a></li>
			<li><a href="/fa17g17/aboutAndreas">Andreas Dietze</a></li>
		  </ul><br>
		</div>

	<div>
		<div class="col-sm-9 container">
      <div class="page-header">
        <h1>Master Project WS17/18 M0 - University of Applied Sciences Fulda</h1>
      </div>

      <!-- Warning for demonstration purposes -->
      <div class="alert alert-warning alert-dismissable">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">x</a>
        <strong>Warning!!!</strong> This website is for demonstration purposes only!!!
      </div>

      <!-- Grid Structure for personal Information - 3 equal Grids -->
      <div class="row top-buffer">
        <div class="col-sm-4">
          <div class="thumbnail">
            <a href="img/london.jpeg">
              <img src="img/london.jpeg" alt="London Big Ben" style="width:100%">
              <div class="caption"><p> London: Big Ben and Palace of Westminster </p></div>
            </a>
          </div>
        </div>
        <div class="col-sm-4">
          <h2> David Karimi </h2>
          <h4> University of Applied Sciences Fulda </h4>
          <h4> Master Angewandte Informatik </h4>
        </div>
        <div class="col-sm-4">
          <blockquote>
            <p> Träume nicht dein Leben, lebe deinen Traum. </p>
            <footer>Tommaso Campanella</footer>
          </blockquote>
          <blockquote>
            <p> Intelligenz, behaupten die Intelligenten, ist die Fähigkeit, sich der Situation anzupassen.
              Wenn du ein Buch verkehrt in die Hand genommen hast, lerne, es verkehrt zu lesen. </p>
            <footer>Wieslaw Brudzinski</footer>
          </blockquote>
        </div>
      </div>

      <!-- Key Qualifications -->
      <div class="page-header">
        <h3> Key Qualifications: </h3>
      </div>

      <div class="well">
        <div class="btn colorKey">VMware</div>
        <div class="btn colorKey">Python</div>
        <div class="btn colorKey">C#</div>
        <div class="btn colorKey">Java</div>
        <div class="btn colorKey">JavaEE</div>
        <div class="btn colorKey">Android</div>
        <div class="btn colorKey">Nodejs</div>
        <div class="btn colorKey">Network virtualization with GNS3 and VIRL</div>
        <div class="btn colorKey">Cisco CCNA</div>
        <div class="btn colorKey">IT-Security</div>
        <div class="btn colorKey">Software Defined Networking</div>
        <div class="btn colorKey">Advanced knowledge in the field of networks</div>
      </div>

      <!-- Curriculum Vitae -->
      <div class="page-header">
        <h3> University Education: </h3>
      </div>

      <!-- Companies -->
      <div class="panel-group">
          <div class="panel panel-default">
            <div class="panel-heading">University of Applied Sciences Fulda</div>
            <div class="panel-body">
              <h4> Master of Science </h4>
              <p> Study of Applied Computer Science </p>
              <p> Period: April 2016 to Oktober 2018  </p>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">University of Applied Sciences Fulda</div>
            <div class="panel-body">
              <h4> Bachelor of Science </h4>
              <p> Study of Business Informatics </p>
              <p> Period: October 2012 to March 2016  </p>
            </div>
          </div>
      </div>

      <!-- Professional experiences -->
      <div class="page-header">
        <h3> Professional experiences: </h3>
      </div>

      <div class="panel-group">
          <div class="panel panel-default">
            <div class="panel-heading">University of Applied Sciences Fulda</div>
            <div class="panel-body">
              <div>
                <h4> Research project in the field of IT security </h4>
                <p> Period: March 2015 to March 2016  </p>
                <li><i class="fa-li fa fa-check-square"></i> Creation of an attack dataset </li>
                <li><i class="fa-li fa fa-check-square"></i> Publication of a paper on the DFN-Technology-Conference </li>
                <li><i class="fa-li fa fa-check-square"></i> Development of a Host-based IDS for local Log Data </li>
              </div>

              <div class="top-buffer">
                <h4> Student assistant in the field of network virtualization and cloud computing </h4>
                <p> Period: April 2017 to January 2018  </p>
                <li><i class="fa-li fa fa-check-square"></i> Analysis of existing network virtualization solutions </li>
                <li><i class="fa-li fa fa-check-square"></i> Implementation of a project to replace an existing network virtualization solution </li>
                <li><i class="fa-li fa fa-check-square"></i> Future consolidation in the OpenStack area </li>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">accantec consulting AG - Hamburg</div>
            <div class="panel-body">
              <h4> Business Intelligence with SAS </h4>
              <p> Period: September 2014 to Oktober 2014 </p>
              <ul class="fa-ul">
                <li><i class="fa-li fa fa-check-square"></i>Implementation of an automated geodata concept for turnover data</li>
              </ul>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">Siemens Automation and Drives - Bad Neustadt a.d. Saale</div>
            <div class="panel-body">
              <h4> SAP ERP Development and Support </h4>
              <p> Period: August 2014 to September 2014 </p>
              <ul class="fa-ul">
                <li><i class="fa-li fa fa-check-square"></i>ABAP-Development  in context of material management </li>
                <li><i class="fa-li fa fa-check-square"></i>Development  of a SAP-Webinterface in context of warehouse management</li>
                <li><i class="fa-li fa fa-check-square"></i>SAP ERP Support in context of warehouse management</li>
              </ul>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">GKN Sinter Metals - Bad Brückenau</div>
            <div class="panel-body">
              <h4> System Administrator </h4>
              <p> Period: Februar 2013 to March 2013, September 2013  </p>
              <ul class="fa-ul">
                <li><i class="fa-li fa fa-check-square"></i>First and Second Level Support</li>
                <li><i class="fa-li fa fa-check-square"></i>VM Infrastructure Management</li>
                <li><i class="fa-li fa fa-check-square"></i>Implementation of a ThinClient Project</li>
              </ul>
            </div>
          </div>
      </div>
      <footer> Developed in the context of the Master Project WS17/18 - by David Karimi </footer>
    </div>
		
		
		</div>
		
	  </div>
	</div>

	<footer class="container-fluid">
	  <p>Master Project 2017</p>
	</footer>
	<script>
	window.onresize = function (event)
	{
		if(window.innerWidth > 768)
		{
			var height = document.getElementById("con").clientHeight;
			console.log(height);
			var str = "height: " + height + "px";
			document.getElementById("sidenav").style = str.toString();
		}
	}

	if(window.innerWidth > 768)
	{
		var height = document.getElementById("con").clientHeight;
		console.log(height);
		var str = "height: " + height + "px";
		document.getElementById("sidenav").style = str.toString();
	}
	</script>
  </body>
</html>
