<html>

<head>
    <title>HOMElytics - VRViewer360</title>

    <!-- Web References -->
    <!-- Roboto Font -->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <!-- Bootstrap & jQuery -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Local References -->
    <!-- Three.js -->
    <script src="lib/threejs-src/three.min.js"></script>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="css/stylesheet.css">
    
    <!-- Renderer -->
    <script src="js/VRRenderer/main.js"></script>
    <script src="js/VRRenderer/ThreeRenderer.js"></script>
    <script src="js/VRRenderer/DoorMarker.js"></script>
    <script src="js/VRRenderer/DoorMarkerFactory.js"></script>
    <script src="js/VRRenderer/Room.js"></script>
    <script src="js/VRRenderer/Estate.js"></script>
    <script src="js/VRRenderer/GridGenerator.js"></script>
    <script src="js/VRRenderer/OrbitControls.js"></script>

</head>

<!-- <body oncontextmenu="return false"> -->
<body>
    <div class="row row-centered">
        <span>
            <canvas id="myCanvasElement" width="640px" height="480px"></canvas>
        <span>
    </div>
</body>

</html>